@charset "UTF-8";


@media screen and (min-width:200px) and (max-width:430px){
    header{
        height: 92px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
        position: sticky;
        top: -1px;
       
    }

        #logoKarla{
        position: absolute;
        width: 140px;
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
    }

        #iconeMenu{
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        left: 89%;
        transform: translate(-89%, -50%);
        
        }

    #navOutdor{
       position: sticky;
       top: 90px;
       background-color: rgb(250, 160, 160);
       box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.637);
       margin-top: 0px;
        }
    
                #navAgendamentosOutdor{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-size: 30px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,               sans-serif;
                    padding: 15px;
                    color: rgb(250, 248, 248);
                    text-shadow: 0px 1px 1px black;
                    border-radius: 20px;
                    }
                #navProcedimentosOutdor{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-size: 30px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,               sans-serif;
                    padding: 15px;
                    color: rgb(250, 248, 248);
                    text-shadow: 0px 1px 1px black;
                    border-radius: 20px;
                    }
                #navProcedimentosOutdor:hover, #navAgendamentosOutdor:hover{
                    background-color: rgb(252, 222, 232);
                    color: rgb(207, 72, 72);
                }
            }


            #navIndor{
                display: none;
            }


            main{
                width: 75vw;
                margin: auto;
                margin-top: 0px;
                background-color: rgb(252, 203, 203);
                border-radius: 15px;
                padding: 20px;
                }
                h1{
                    text-align: center;
                }
                p{
                    text-align: justify;
                    text-indent: 30px;
                    line-height: 35px;
                    font-size: 1.5em;
                }
            