@charset "UTF-8";


@media screen and (min-width:1024px) and (max-width:1439px){
    header{
        height: 120px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
        position: sticky;
        top: -1px; 
    }

        #logoGl{
        position: absolute;
        width: 180px;
        height: 110x;
        left: 10%;
        top: 30%;
        transform: translate(-10%, -25%);
    }

        #iconeMenu{
        display: none;
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        left: 89%;
        transform: translate(-89%, -50%);
        }

        #navIndor{
            display: block;
            position:relative;
            width: 670px;
            height: 120px;
            top: 50px;
            left: 60%;
            text-align: center;
            padding: 10px;
            
        }
                     #navAgendamentosIndor{
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        transform: translate(-5%, -50%);
                         text-decoration: none;
                         font-size: 1.9em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         margin-right: 30px;    
                     }
                     #navProcedimentosIndor{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                         text-decoration: none;
                         font-size: 1.9em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         margin-left: 30px;
                         
                     }
                     #navProcedimentosIndor:hover, #navAgendamentosIndor:hover{
                         background-color: rgb(252, 222, 232);
                         color: rgb(207, 72, 72);
                     }
    #navOutdor{
    display: none;
    }
            
    


            main{
                width: 70vw;
                margin: auto;
                margin-top: 20px;
                background-color: rgb(252, 203, 203);
                border-radius: 15px;
                
                }
                h1{
                    text-align: center;
                    margin-top: 0px;
                }
                p{
                    text-align: justify;
                    text-indent: 30px;
                    line-height: 35px;
                    font-size: 1.4em;
                    
                }
            }